.grid-container {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "map graph"
        "controls controls";
}

.graph {
    width: 50%;
    grid-area: graph;
    background-color: blueviolet;
}

.map {
    grid-area: map;
    background-color: saddlebrown;
}

.controls {
    width: 100%;
    height: 20%;
    grid-area: controls;
    background-color: greenyellow;
}